HOMEEEEEE
<div class="home-elements">
<div id="home-beer">
    <img src="/images/beer.png">
</div>
<button id="check">Check the Beers!</button>
<button id="random">Check a Random Beer!</button>

</div>

